@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

/* Smooth scrolling text animation (Movie credits effect) */
@keyframes scroll-up {
  0% {
    transform: translateY(100%); /* Start completely below */
    opacity: 1;
  }
  100% {
    transform: translateY(-100%); /* Exit completely above */
    opacity: 1;
  }
}

/* Apply animation */
.animate-scroll {
  animation: scroll-up 2s linear infinite; /* Continuous looping */
}

/* Styling for the top bar */

